@import "/public/styles/index.scss";

.home {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include smallScreen {
    min-height: calc(100% - 90px);
  }

  @include smallScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    span {
      text-transform: none;
    }

    @include smallScreen {
      max-width: 230px;
      line-height: 1.4;
    }
  }

  img {
    margin: 30px auto 0 auto;
    max-width: 540px;
    width: 100%;

    @include smallScreen {
      margin: 50px auto 10px auto;
    }
  }

  nav {
    margin-top: 0;
  }
}
